{% extends "base.html" %}

{% block title %}Смена пароля{% endblock %}
{% block content %}
  <h1 class="my-3">Смена пароля</h1>

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Пожалуйста, введите ваш старый пароль, для безопасности, а затем введите ваш новый пароль
        дважды, чтобы мы могли убедиться, что вы ввели его верно.</h5>

      {% if form.errors %}
        <h3 class="mt-3">
          {% if form.errors.items|length == 1 %}
            Пожалуйста, исправьте ошибку ниже.
          {% else %}
            Пожалуйста, исправьте ошибки ниже.
          {% endif %}
        </h3>
      {% endif %}

      {% include 'includes/password_change_form.html' %}
    </div>
  </div>
{% endblock %}