{% extends "base.html" %}

{% block title %}Подтверждение восстановления пароля{% endblock %}
{% block content %}
  <h1 class="my-3">Подтверждение восстановления пароля</h1>

  <div class="card">
    <div class="card-body">
      {% if validlink %}
        <h5 class="card-title">Пожалуйста, введите ваш новый пароль дважды, чтобы мы могли убедиться, что вы ввели его
          верно.</h5>

        {% include 'includes/password_reset_confirm_form.html' %}
      {% else %}
        <h5 class="card-title">Неверная ссылка для восстановления пароля. Возможно, она уже была использована.
          Пожалуйста, сделайте еще один запрос на восстановление пароля</h5>
      {% endif %}
    </div>
  </div>
{% endblock %}