{% extends "base.html" %}

{% block title %}Мой профиль{% endblock %}
{% block content %}
  <h1 class="mb-5 mt-3">Мой профиль</h1>

  {% if user.rating.all %}
    <h4 class="card-text">Любимые товары:</h4>
    <div class="list-group mb-5">
      {% for rating in user.rating.all %}
        <a href="{% url 'item_detail' rating.item.pk %}"
           class="list-group-item list-group-item-action">{{ rating.item.name }}</a>
      {% endfor %}
    </div>
  {% endif %}

  <h4 class="card-text">Изменить профиль:</h4>
  <form method="post">
    {% csrf_token %}

    {{ user_form.errors }}
    {{ profile_form.errors }}

    <div class="mb-3">
      <label for="{{ user_form.email.id_for_label }}" class="form-label">{{ user_form.email.label }}</label>
      <input type="email" class="form-control" id="{{ user_form.email.id_for_label }}" name="email" maxlength="254"
             value="{{ user.email }}">
    </div>

    <div class="mb-3">
      <label for="{{ user_form.username.id_for_label }}" class="form-label">{{ user_form.username.label }}</label>
      <input type="text" class="form-control" id="{{ user_form.username.id_for_label }}" name="username" maxlength="150"
             required value="{{ user.username }}">
      <div id="usernameHelp" class="form-text">{{ user_form.username.help_text|safe }}</div>
    </div>

    <div class="mb-3">
      <label for="{{ profile_form.birthday.id_for_label }}" class="form-label">{{ profile_form.birthday.label }}</label>
      <input type="date" class="form-control" id="{{ profile_form.birthday.id_for_label }}" name="birthday"
             value="{{ user.profile.birthday|date:'Y-m-d' }}">
    </div>

    <input type="submit" class="btn btn-primary mb-3" value="Сохранить">
  </form>
{% endblock %}